<%- partial("../common/header") %>

<div class="page-wrap">
  <%- partial("../common/settings-nav", {currentMenu: "profile"}) %>

  <% var userPicture = user.picture ? 'style="background-image: url(' + user.picture.replace('sz=50', 'sz=200') + ')"' : ""; %>
  <div class="user-profile form wrap">
    <div class="avatar" <%- userPicture %>></div>
    <div class="field">
      <p class="text-label">FIRST NAME</p>
      <input type="text" readonly value="<%- user.firstName %>" class="value" />
    </div>

    <div class="field">
      <p class="text-label">LAST NAME</p>
      <input type="text" readonly value="<%- user.lastName %>" class="value" />
    </div>

    <div class="field">
      <p class="text-label">EMAIL</p>
      <input type="text" readonly value="<%- user.email %>" class="value" />
    </div>
  </div>
</div>
