<%- partial("../common/header") %>

<div class="page-wrap">
  <%- partial("../common/settings-nav", {currentMenu: "apps"}) %>

  <div id="users-index-view" class="wrap" data-app-id="<%- req.param('app_id') %>">>
    <div class="page-header">
      <h1 class="page-title">Members</h1> <a href="/apps/<%- req.param('app_id') %>/users/new" class="add-new"><span class="ico ico-circle-plus"></span></a>
    </div>

    <div class="list">
      <div class="list-header">
        <ul>
          <li class="name">Name</li>
          <li class="link">Role</li>
          <li class="user">Date Added</li>
        </ul>
      </div>
      <div class="list-body"></div>
      <div class="pagination-region"></div>
    </div>


  </div>
</div>

<script>
  var listItems = <%- JSON.stringify(appUsers) %>;
  var listMeta = <%- JSON.stringify(meta) %>;
</script>

<%- partial("user-templates") %>
