<%- partial("../common/header") %>

<div class="page-wrap">
  <%- partial("../common/settings-nav", {currentMenu: "apps"}) %>

  <div id="apps-index-view" class="wrap">
    <div class="page-header">
      <h1 class="page-title">Applications</h1> <a href="/apps/new" class="add-new"><span class="ico ico-circle-plus"></span></a>
    </div>

    <div class="list">
      <div class="list-header">
        <ul>
          <li class="image">&nbsp;</li>
          <li class="name">Name</li>
          <li class="link">Quick links</li>
          <li class="user">User</li>
          <li class="date">Date</li>
        </ul>
      </div>
      <div class="list-body"></div>
      <div class="pagination-region"></div>
    </div>

  </div>
</div>

<script>
  var listItems = <%- JSON.stringify(apps) %>;
  var listMeta = <%- JSON.stringify(meta) %>;
</script>

<%- partial("app-templates") %>
