<div id="site-nav">
  <header id="site-header">
    <div class="drawer-label">
      <a href="#" id="drawer-menu-link">
        <span class="ico ico-menu5"></span>
      </a>
      <div class="current-app">
        <span class="app-icon"></span>
        <span class="app-title"><%- (req.currentApp.name) ?  req.currentApp.name : "Penguin"%></span>
      </div>
    </div>

    <nav id="section-nav">
      <ul>

        <li><a href="/apps/<%- req.currentApp.id %>/entries" class="menu-title">Entries</a></li>

        <% if (AdminHelper.canManageImage(req.user, req.currentApp)) { %>
          <li><a href="/apps/<%- req.currentApp.id %>/images" class="menu-title">Images</a></li>
        <% } %>

        <% if (AdminHelper.canManageModel(req.user, req.currentApp)) { %>
          <li><a href="/apps/<%- req.currentApp.id %>/models" class="menu-title">Models</a></li>
        <% } %>

      </ul>
    </nav>

    <% if (req.user) { %>
    <div id="current-user-nav">
      <a href="#" id="user-menu-link" class="menu-title"><%- req.user.firstName %><span class="ico ico-arrow-down3 profile-arrow"></span></a>
      <nav id="user-menu">
        <ul>
          <li><a href="/profile">Profile</a></li>
          <% if (AdminHelper.canManageApp(req.user, req.currentApp)) { %>
            <li><a href="/apps">Applications</a></li>
          <% } %>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
    <% } %>
  </header>

  <div id="drawer">
    <div class="drawer-main">
      <% if(req.user.apps) { %>
        <div class="menu-drawer-title">Applications
        <% if (AdminHelper.canManageApp(req.user, req.currentApp)) { %>
          <a href="/apps/new"><span class="ico ico-circle-plus"></a>
        <% } %>
        </div>
        <ul>
          <% _.forEach(req.user.apps, function(app) { %>
            <li><a href="/apps/<%- app.id %>"><span class="drawer-icon"></span><span class="app-icon"></span><%- app.name %></a></li>
          <% }) %>
        </ul>
      <% } %>

      <div class="menu-drawer-title">Help</div>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="drawer-overlay overlay"></div>
  </div>
</div>
