<%- partial("../common/header") %>

<div class="page-wrap">

  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">Add <%- model.name %></h1>
    </div>

    <div class="sidebar">
      <ul>
        <% _.forEach(models, function(modelObj) { %>
          <li><a class="<%- model.id == modelObj.id ? 'current-item' : '' %>" href="/apps/<%- req.param('app_id') %>/models/<%- modelObj.id %>/entries"><%- modelObj.name %></a></li>
        <% }) %>
      </ul>
    </div>

    <form id="update-entry-form" action="/roles" method="POST" class="form wrap">
      <input type="hidden" name="appId" value="<%- req.param('app_id') %>" />
      <input type="hidden" name="modelId" value="<%- req.param('model_id') %>" />
      <input type="hidden" name="id" value="<%- req.param('id') %>" />
      <div class="primary">

        <% _.forEach(model.attrs, function(attr, key) { %>
          <% var att = entry.attrs[key]; %>


          <div class="field">
            <label><%- key %><% if(attr.required) { %><span class="required"></span><% } %></label>
            <input type="text" name="attrs[<%- key %>]" class="value" value="<%- att %>" />
          </div>
        <% }) %>

        <hr>

        <div class="field">
          <label>Tags</label>
          <input type="text" name="tags" class="value" placeholder="Comma-separated values" value="<%- entry.tags %>" />
        </div>


      </div>

      <div class="actions">
        <div class="history">
          <label class="page-text-1">status</label>
          <div class="dropdown-small">
            <select class="select-small" name="status">
              <option value=""></option>
              <option value="draft">draft</option>
              <option value="submitted">submitted</option>
              <option value="published">published</option>
              <option value="archived">archived</option>
            </select>
            <span class="ico ico-arrow-down3 icon-select"></span>
          </div>
          <br><br>
        </div>
        <div class="field">
          <input type="submit" value="Save" class="primary-button save-button" />
        </div>
        <hr>
        <div class="history">
          <div class="field">
            <label>Last updated</label>
            <div class="normal-text"><%- strftime('%B %d, %Y &nbsp;&nbsp; %I:%M %p', entry.updatedAt) %></div>
          </div>
          <div class="field">
            <label>Created</label>
            <div class="normal-text"><%- strftime('%B %d, %Y &nbsp;&nbsp; %I:%M %p', entry.createdAt) %></div>
          </div>
          <div class="field">
            <a href="#"><span class="ico ico-clock3"></span>View edit history</a>
          </div>
        </div>
        <hr>
        <div class="field">
          <a href="#" class="delete-button"><span class="ico ico-trash"></span>Delete this entry</a>
        </div>
      </div>
    </form>

  </div>
</div>
