<%- partial("../common/header") %>

<div class="page-wrap">

  <div class="sidebar">
    <ul>
      <% _.forEach(models, function(modelObj) { %>
        <li><a class="<%- model.id == modelObj.id ? 'current-item' : '' %>" href="/apps/<%- req.param('app_id') %>/models/<%- modelObj.id %>/entries"><%- modelObj.name %></a></li>
      <% }) %>
    </ul>
  </div>

  <div id="entries-index-view" class="wrap" data-app-id="<%- req.param('app_id') %>" data-model-id="<%- req.param('model_id') %>">
    <div class="page-header">
      <h1 class="page-title">Entries</h1> <a href="/apps/<%- req.param('app_id') %>/models/<%- req.param('model_id') %>/entries/new" class="add-new"><span class="ico ico-circle-plus"></span></a>
    </div>

    <div class="list">
      <div class="list-header">
        <ul>
          <li class="role">Role</li>
          <li class="description">Description</li>
          <li class="date">Date</li>
        </ul>
      </div>
      <div class="list-body"></div>
      <div class="pagination-region"></div>
    </div>

  </div>
</div>

<script>
  var listItems = <%- JSON.stringify(entries) %>;
  var listMeta = {};
</script>

<script type="text/template" id="entries-item-template">
  <div class="main"><a href="/apps/<?- appId ?>/models/<?- modelId ?>/entries/<?- id ?>/edit"><?- id ?></a></div>
  <div class="date"><?= date() ?></div>
</script>