<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <script>
      // Check if SVG is supported
      if (document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1")) {
        document.documentElement.className += " svg";
      } else {
        document.documentElement.className += " no-svg";
      }
    </script>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <%
  var controllerClass = req.options.controller || "";
  controllerClass = controllerClass.replace(/\//g, " ");
  %>
  <body class="<%- controllerClass %> <%- req.options.action %>">
    <div id="growl-region"></div>
    <%- body %>
    <div id="dialog-region" class="popup"></div>
    <%- partial("../common/templates") %>
    <script async src="/js/main.js"></script>

  </body>
</html>