<%- partial("../common/header") %>

<div class="page-wrap">
  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">Edit Model</h1>
    </div>

    <form id="update-model-form" action="/apps" method="POST" class="form wrap">
      <input type="hidden" name="appId" value="<%- req.param('app_id') %>" />
      <input type="hidden" name="id" value="<%- req.param('id') %>" />
      <div class="primary">
        <div class="field">
          <label>Name<span class="required">*</span></label>
          <input type="text" name="name" class="value" value="<%- model.name %>" />
        </div>
        <hr>
        <h2 class="page-title-2">Fields <a href="#" class="add-new-model-link"><span class="ico ico-circle-plus"></span></a></h2>
        <div class="field">
          <ul id="sortable" class="accordion-one">
            <% _.forEach(model.attrs, function(attr, key) { %>
              <li class="sort-item ui-state-default">
                <div class="accordion-bar">
                  <div class="title"><input type="text" placeholder="Add new field.." name="fieldName" value="<%- key %>"></div>
                  <div class="arrow"><span class="ico ico-arrow-right3"></span></div>
                </div>
                <div class="accordion-body">
                  <div class="field">
                    <label>type</label>
                    <div class="dropdown-big">
                      <select class="select-big" name="type">
                      <option value="">Types</option>
                      <option value="string" <%- attr.type == "string" ? "selected='selected'" : "" %>>string</option>
                      <option value="boolean" <%- attr.type == "boolean" ? "selected='selected'" : "" %>>boolean</option>
                      <option value="integer" <%- attr.type == "number" ? "selected='selected'" : "" %>>number</option>
                      </select>
                      <span class="ico ico-arrow-down3 icon-select"></span>
                    </div>
                    <hr>
                    <div class="field">
                      <label>required</label>
                      <input type="checkbox" name="required" class="value" value="true" <%- attr.required ? "checked='checked'" : "" %> />
                    </div>
                  </div>
                  <hr>
                  <div class="field delete">
                    <a href="#" class="delete-sortable"><span class="ico ico-trash"></span>Delete</a>
                  </div>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>

      <div class="actions">
        <div class="field">
          <input type="submit" value="Save" class="primary-button save-button" />
        </div>
        <hr>
        <div class="history">
          <div class="field">
            <label>Last updated</label>
            <div class="normal-text">date</div>
          </div>
          <div class="field">
            <label>Created</label>
            <div class="normal-text">date</div>
          </div>
          <div class="field">
            <a href="#"><span class="ico ico-clock3"></span>View edit history</a>
          </div>
        </div>
        <hr>
        <div class="field">
          <a href="#" class="delete-button"><span class="ico ico-trash"></span>Delete this role</a>
        </div>
      </div>
    </form>

  </div>
</div>


<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#sortable" ).sortable({
      revert: true
    });

    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  });

  //accordion

   $(function() {
    $( ".accordion-one" ).accordion({
      collapsible: true
    });
  });

  </script>

  <script type="text/template" id="new-field-template">
    <li class="sort-item ui-state-default">
      <div class="accordion-bar">
        <div class="title"><input type="text" placeholder="Add new field.." name="fieldName" value=""></div>
        <div class="arrow"><span class="ico ico-arrow-right3"></span></div>
      </div>
      <div class="accordion-body">
        <div class="field">
          <label>type</label>
          <div class="dropdown-big">
            <select class="select-big" name="type">
            <option value="">Types</option>
            <option value="string">string</option>
            <option value="boolean">boolean</option>
            <option value="integer">number</option>
            </select>
            <span class="ico ico-arrow-down3 icon-select"></span>
          </div>
          <hr>
          <div class="field">
            <label>required</label>
            <input type="checkbox" name="required" class="value" value="true" />
          </div>
        </div>
        <hr>
        <div class="field delete">
          <a href="#"><span class="ico ico-trash"></span>Delete</a>
        </div>
      </div>
    </li>
  </script>